@charset "UTF-8";

body {
    text-align: center;
    margin: 50px;
    background-color: #8f9394;
    color: white;
}

/* .mokuji {
    display: flex;
    justify-content: center; 
    flex-direction: column;  
    height: 200px;
    margin: 30px 300px;
    /* text-align: center; */
    border: 1px solid #FFFFFF;
    /* display: flex; */
    /* justify-content: center;               */
    /* justify-content: center; */
} */

.button {
    background-color: #000000;
    /* height: 50px; */
    color: white;
    text-align: center;
}

.background-text {
    /* margin: 0 300px; */
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.background-text-block h2 {
    font-size: 30px;
}

.background-text-block {
    margin: 0 300px;
}

.tag {
    background: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 2px 20px;
    border-radius: 15px;
}

.tag-row {
    display: flex;
}

.separator {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.separator::before,
.separator::after {
  content: "";
  height: 1px;
  background-color: #FFF;
  flex: 1;
}

.card {
    display: flex;
    justify-content: center;
    padding: 50px;
    /* background-color: white; */
}
.card img {
  margin-right: 16px;
  padding-right: 16px;
  border-right: 1px solid #FFF; /* ← 縦線 */
}

.card-text {
    text-align: left;
    /* display: flex;              
    flex-direction: column;  */
    width: 500px;
    /* justify-content: space-between; */
}
.card-text h1 {
    font-size: 30px;
    margin: 5px;
}
.card-text p {
    font-size: 15px;
    /* margin: 5px; */
}
